/* Text */
$brown-dark:#403F3D;
$brown-accent:#B0907A;
$beige-light: #E1D4C9;

/* Background */
$brown-medium: #665F55;
$grey: rgba(64, 63, 61, 0.80);

/* Border */
$beige-medium: #C1B6AD;

/* Width */
$width-desctop: 1440px;
$width-tablet: 768px;
$width-mobile: 380px;