@mixin button($width: 75px, $height: 30px, $color: $black-l) {
    display: inline-block;
    width: $width;
    height: $height;
    border-radius: 2px;
    border: 1px solid $color;
    background-color: transparent;
    font-weight: 700;
    @extend %font-base;
    @include font($size: 1rem, $height: 1.2rem, $weight: 700);
    letter-spacing: 1px;
    cursor: pointer;
}

@mixin button-hover {
    &:hover:not(.my__collection) {
        background-color: $gold;
        border: 1px solid $gold;
        transition: $transition-hover;
    }
}